In [1]:
#pandas are open source library that is built on top of NumPy

In [2]:
#series

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20, 'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(labels,my_data)

10    a
20    b
30    c
dtype: object

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
d

{'a': 10, 'b': 20, 'c': 30}

In [15]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['USA','USSR','Japan','Germany'])

In [19]:
ser1

USA        1
USSR       2
Japan      3
Germany    4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4],['USA','USSR','Japan','Italy'])

In [21]:
ser2

USA      1
USSR     2
Japan    5
Italy    4
dtype: int64

In [25]:
ser1['USA']

1

In [36]:
ser3= pd.Series(data = labels)

In [37]:
ser3

0    a
1    b
2    c
dtype: object

In [38]:
ser3[1]

'b'

In [40]:
ser1 + ser2

Germany    NaN
Italy      NaN
Japan      8.0
USA        2.0
USSR       4.0
dtype: float64